@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-theme-bg font-inter text-gray-900;
    overflow-x: hidden;
  }
}
